/* Style Sheet for Dollamur FXMat Contest Landing Page */
/* Buffalo.Agency */

html {
	font-size: 16px;
}
body {
	font-family: 'Arial', 'Helvetica', sans-serif;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', 'georgia', sans-serif;
}
h1 {
	font-size: 2.66em;
	color: #ea292a;
}
h3 {
	color: #ea292a;
	margin-top: 10px;
}
h4 {
	color: #ea292a;
}
section {
	padding: 10px 0;
}
.legal {
	font-size: 12px;
}
.circle {
	width: 50px;
	height: 50px;
	border: 2px solid #ea292a;
	border-radius: 50%;
	margin-bottom: 10px;
}
.buff {
	margin: 40px 0;
}
.steps-content {
	line-height: 1.75;
}
.col-md-6 > img {
	height: 400px;
	width: auto;
}
.btn {
	border-color: #ea292a;
	background-color: #ea292a;
}

.btn:hover {
	border-color: #f06768;
	background-color: #f06768;
}

@media screen and (max-width: 767px) {

	h1 {
		font-size: 2.45em;
		color: #ea292a;
	}

	.carousel-indicators {
		display: none;
	}

	.container {
		text-align: center;
	}

	.circle {
		margin: 10px auto;
	}

	.example-img {
		margin: 0 auto;
	}

}